In [1]:
# import necessary libraries
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as Soup

In [2]:

# Setup splinter
executable_path = {'executable_path': "chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Visit the mars nasa news site with splinter
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
 # Use beautiful soup to turn the browser html to a soup object
html = browser.html
news_soup = Soup(html, 'html.parser')

# ? 
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [201]:
#########################

###  Mars Latest News ###

#########################

In [202]:
# Collect the latest news data with beautifulsoup
data = news_soup.find("li", class_="slide")
print(data)

<li class="slide"><div class="image_and_description_container"><a href="/news/8882/nasas-perseverance-drives-on-mars-terrain-for-first-time/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">The first trek of the agency’s largest, most advanced rover yet on the Red Planet marks a major milestone before science operations get under way.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="This image was taken during the first drive of NASA’s Perseverance rover on Mars on March 4, 2021. Perseverance landed on Feb. 18, 2021, and the team has been spending the weeks since landing checking out the rover to prepare for surface operations." src="/system/news_items/list_view_images/8882_PIA24487-320x240.jpg"/></div><div class="bottom_gradient"><div><h3>NASA's Perseverance Drives on Mars' Terrain for First Time</h3></div></div></a><div class="list_text"><div class="list_date">March  5, 2021</div><div class="content_title"><a href="/news/8882/nasas-perseverance-drives-on-mars-terrain-for-first-time/" target="_self">NASA's Perseverance Drives on Mars' Terrain for First Time</a></div><div class="article_teaser_body">The first trek of the agency’s largest, most advanced rover yet on the Red Planet marks a major milestone before science operations get under way.</div></div></div></li>

In [206]:

# Use bs to get news title and paragraph info from the html object
news_title = slide_elem.find("div", class_="content_title").text
paragraph = slide_elem.find("div", class_="article_teaser_body").text
print(news_title)
print("-------------------------")
print(paragraph)

NASA's Perseverance Drives on Mars' Terrain for First Time
-------------------------
The first trek of the agency’s largest, most advanced rover yet on the Red Planet marks a major milestone before science operations get under way.

In [10]:

# brownser.quit()

#########################

#####  Mars Images #####

#########################

In [5]:
# Visit the mars nasa news site for images
url_img = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_img)

In [6]:
# Turn webpage into HTML Object
html_img = browser.html
soup_img = Soup(html_img, "html.parser")

# Example of image on html
#  <img data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24419.2e16d0ba.fill-400x400-c50.jpg" alt="" loading="lazy" class="BaseImage  object-contain" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24419.2e16d0ba.fill-400x400-c50.jpg">

In [7]:
# Locate the images in this webpage
images = soup_img.find_all('img')
print(images)

[<img alt="JPL Logo" height="72" src="/_nuxt/img/logo-tribrand-color.8f95c3b.svg" width="324"/>, <img alt="JPL Logo" height="72" src="/_nuxt/img/logo-tribrand-color.8f95c3b.svg" width="324"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24457.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24457.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA23728.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA23728.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24456.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24456.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24488.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24488.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24490.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24490.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24489.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24489.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24419.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24419.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24486.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24486.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24485.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24485.2e16d0ba.fill-400x400-c50.jpg"/>, <img alt="" class="BaseImage object-contain" data-src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24484.2e16d0ba.fill-400x400-c50.jpg" loading="lazy" src="https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24484.2e16d0ba.fill-400x400-c50.jpg"/>]

In [8]:
# Create a list to collect the link to each image displayed on the page
img_list = []
# Create a loop through the imaged to append the image link to our img_list
for img in images:
        img_list.append(img['src'])
# Print list of links
print(img_list)

['/_nuxt/img/logo-tribrand-color.8f95c3b.svg', '/_nuxt/img/logo-tribrand-color.8f95c3b.svg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24457.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA23728.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24456.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24488.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24490.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24489.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24419.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24486.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24485.2e16d0ba.fill-400x400-c50.jpg', 'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24484.2e16d0ba.fill-400x400-c50.jpg']

In [9]:
# Select the specific desired image
img_url = img_list[2]
img_url

'https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA24457.2e16d0ba.fill-400x400-c50.jpg'

In [ ]:
# brownser.quit()

#########################

#####  Mars Facts #####

#########################

In [55]:
# Mars facts to be scraped
url_facts = 'https://space-facts.com/mars/'
# Use pandas to read the tables available on the html
read_table = pd.read_html(url_facts)
read_table

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [71]:
# Select the first table of the html
facts_df = read_table[0]
# Label the data frame columns
facts_df.columns =  ['Facts', 'Mars']
# Print the pandas df
facts_df

                  Facts                           Mars
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [76]:
facts = facts_df.to_html()
facts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [77]:
# Remove unwated \n from the html table
facts_html_table = facts.replace('\n', '')
facts_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
# brownser.quit()

##############################

#####  Mars Hemispheres ######

##############################

In [78]:
# Visit thehemispheres ur with splinter 
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)

In [84]:
# Create a soup object
html_hemi = browser.html
soup_hemi = Soup(html_hemi, 'html.parser')

In [186]:

# Find the desired data by tag and class
hemis = soup_hemi.find_all("div", class_="item")

# Create a lists to store the large image links
hemi_links = []

# loop through image data to find title and url info
for h in hemis:
    # Identify the image name 
    title = h.find("h3").text
    
    # Collect the direct image address
    img_url = h.a["href"]
    
    # build the complete link 
    url = "https://astrogeology.usgs.gov" + img_url
    
    # Visit img url with splinter
    browser.visit(url)
    each_pic_html = browser.html

    # Create soup object fo each of the individual pictures we are visiting
    soup = Soup(each_pic_html,"html.parser")
    
    # Find the url for high resolution picture
    new_url = soup.find("img", class_="wide-image")["src"]
    
    # Build large picture complete link
    hemi_link = "https://astrogeology.usgs.gov" + new_url
    # Create a dictionary with thetitle and link collected on this loop and append it to our hemi_links list
    hemi_links.append({"title": title, "img_url": hemi_link})

In [187]:
# Print our list with one dictionary per hemisphere
hemi_links

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]